<div class="allcontain body-contain">
	<hr>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h2 align="center"><b>Register Now</b></h2>
			<h4 align="center">And bring your Dream Event to Reality!</h4>
		</div>
	</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">		
	<div class="main-login main-center">			
				<form class="form-horizontal" #form="ngForm" (ngSubmit)="onSumitAddVideo(form.value)">
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Your Name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input  type="text"     class="form-control"   name="name" id="name"  placeholder="Enter your Name" ngModel />
		  
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="email" class="cols-sm-2 control-label">Your Email</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								<input type="text"  class="form-control" name="emailAddress" id="emailAddress"  placeholder="Enter your Email" ngModel />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="username" class="cols-sm-2 control-label">Username</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="userName" id="userName"  placeholder="Enter your Username" ngModel  />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="password" class="cols-sm-2 control-label">Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" ngModel />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"ngModel  />
							</div>
						</div>
					</div>

					<div class="form-group" align="center">
						<button type="submit" class="btn btn-primary btn-lg login-button regst">Register</button>
					</div>
				</form>
			</div>				
  </div>
</div>
</div>