<div class="allcontain body-contain">
    <hr>
    <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="blok-read-sm">
                           <img src="images/compnycver.jpg" alt="image"> 
                        </div>            
                </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2 align="center"><b>Formal Events</b></h2>
        <h4 align="center">Launch / Awards / Exhibitions / Grand Meetings / Corporal Outings</h4>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
              Pakistan has come across a numerous number of brand activation agencies trying their best to achieve a positive name and make their way through the hall of fame. However the success of these syndicates doesn’t depend solely on management and execution but also destination and innovation.
              Beginning about creative ideas and setting them up in a unique way is not everyone’s cup of tea one has to be selective about the details and present it in an effortless manner.That’s why “EVENTO” has always aimed for higher standards by accepting challenges and overcoming any obstacles coming their way like a boss.
              <i class="fa fa-quote-right fa-2x fa-pull-right fa-border" aria-hidden="true"></i>
          </div>
      </div>
    </div>
  
  <hr>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="item col-lg-4 col-md-4 col-sm-4">
          <div class="blok-read-sm">
            <img src="images/copateevetn.jpg" alt="image"> 
            <span class="layer-block">Corporate Events</span>
          </div>
        </div>
        <div class="item col-lg-4 col-md-4 col-sm-4">
          <div class="blok-read-sm">
            <img src="images/comrcialeve.jpg" alt="image">
            <span class="layer-block">Company Parties</span>
          </div>
        </div>
        <div class="item col-lg-4 col-md-4 col-sm-4">
          <div class="blok-read-sm">
            <img src="images/picnicevnt.jpg" alt="image">
            <span class="layer-block">Picnics</span>
          </div>
        </div>        
      </div>
    </div>
  </div>