<div class="allcontain body-contain">
    <hr>
    <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="blok-read-sm">
                                <!-- <a href="#" class="hover-image"> -->
                                   <img src="images/wedcoevr.jpg" alt="image"> 
                                   <!-- <span class="layer-block">Baby Shower</span> -->
                                <!-- </a>                         -->
                        </div>            
                </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <h2 align="center"><b>Wedding Seasons</b></h2>
        <h4 align="center">Engagement / Dholki / Mehendi / Nikkah / Wedding / Reception</h4>
        <br>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="images/kwd.jpg" alt="" class="kwd"></div> -->
      <div class="col-lg-12 col-md-12 col-sm-12">
          <i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
          It isn't about incredible photography, neither about being in the news features or getting greatest wows from the visitors going to the occasion. Indeed, for two individuals, this is the day and this must be the day which a couple will recall for whatever is left of their life. Conventional or present day, in at any rate a couple praises their huge day, Evento trusts in their dreams and makes them nearer to conceivable outcomes. 
          our 10 years undertaking of occasion arranging, Evento has figured out how to unite wedding services so superb, that those minutes as yet convey grins to our customer couples and their families. What's more, this is the manner by which Pakistani weddings turned into Evento's strong point. 
          Evento is one of only a handful couple of occasion wedding organizers of Pakistan, offering an assortment of wedding occasion topics. For conventional Mehndi, revels of Barat and Valima, our entryways are opened for you with remarkable thoughts and high solidarities in Karachi, Lahore and Islamabad. 
          Enhancements make a domain and Evento represents considerable authority in setup outlining. Working with the most skillful and imaginative set planners of Pakistan, we work to make an outline that turns the wonderful mode on for each visitor going to the wedding. 
          What Pakistani wedding is inadequate without is, Good Food. Evento offers the chance of choosing from the assortment of nourishment menus, arranged under the supervision of the most experienced and famous cooks of Pakistan. 
          Covering for you each vital and time taking movement for the getting hitched families, Evento will have the solution to your each mission, from setting to menu.                
          <i class="fa fa-quote-right fa-2x fa-pull-right fa-border" aria-hidden="true"></i>
      </div>
    </div>
  
    <hr>
  
    <div class="row">
        <div class="col-lg-12">
            <div class="item col-lg-4 col-md-4 col-sm-4">
              <div class="blok-read-sm">
                <!-- <a href="#" class="hover-image"> -->
                   <img src="images/dholkidecor.jpg" alt="image"> 
                   <span class="layer-block">Dholki</span>
                <!-- </a>               -->
               </div>
             </div>
               <div class="item col-lg-4 col-md-4 col-sm-4">
                  <div class="blok-read-sm">
                    <!-- <a href="#" class="hover-image"> -->
                       <img src="images/wedbrat.jpg" alt="image">
                       <span class="layer-block">Wedding</span>
                    <!-- </a>                   -->
                       </div>
                    </div>
                   <div class="item col-lg-4 col-md-4 col-sm-4">
                      <div class="blok-read-sm">
                          <!-- <a href="#" class="hover-image"> -->
                             <img src="images/receptions.jpg" alt="image">
                             <span class="layer-block">Reception</span>
                          <!-- </a>                          -->
                      </div>
                   </div>        
          </div>
        </div>
  </div>