<div class="allcontain body-contain">
  <hr>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="blok-read-sm">
        <img src="images/bdayycover.jpg" alt="image">
      </div>            
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2 align="center"><b>Birthday Parties</b></h2>
      <h4 align="center">Baby Showers / Birthdays / Aqiqahs</h4>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
      Planning that special birthday party shouldn't be stressful! Explore kids' birthday party ideas, themes, and entertainment options all on <b>The Evento</b>. When you're ready, we'll help you book the perfect local vendors to create an unforgettable experience for your child's next party!
      When it comes to birthdays, who says kids get to have all the fun? Some of the best themes we’ve seen can only be appreciated by the adult crowd. 
      Birthdays are always a reason to party, no matter the age. We hope you'll be inspired to celebrate yours with a creative theme like this one!
      <i class="fa fa-quote-right fa-2x fa-pull-right fa-border" aria-hidden="true"></i>            
    </div>         
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="item col-lg-4 col-md-4 col-sm-4">
        <div class="blok-read-sm">
          <a href="/portfolio" class="hover-image"> 
            <img src="images/bbabyshower.jpg" alt="image"> 
            <span class="layer-block">Baby Shower</span>
          </a>
        </div>
      </div>
      <div class="item col-lg-4 col-md-4 col-sm-4">
        <div class="blok-read-sm">
          <a href="/portfolio" class="hover-image">
            <img src="images/bbbdayyy.png" alt="image">
            <span class="layer-block">Birthday Party</span>
          </a>                  
        </div>
      </div>
      <div class="item col-lg-4 col-md-4 col-sm-4">
        <div class="blok-read-sm">
          <a href="/portfolio" class="hover-image">
            <img src="images/aqiiiiqah.jpg" alt="image">
            <span class="layer-block">Aqiqah</span>
          </a>                         
        </div>
      </div>        
    </div>
  </div>
</div>