<div class="allcontain body-contain">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 align="center"><b>Events</b></h2>
            <h4 align="center">Types of Events that We manage for You!</h4>
            <br>
        </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <div class="item col-md-4">
          <div class="blok-read-sm">
            <a href="#" class="hover-image">
               <img src="images/aqeeqah.jpg" alt="image"> 
               <span class="layer-block">Aqeeqah</span>
            </a>
            
           </div>
         </div>
           <div class="item col-md-4">
              <div class="blok-read-sm">
                <a href="#" class="hover-image">
                   <img src="images/bday.jpg" alt="image">
                   <span class="layer-block">Birthday Party</span>
                </a>
                
                   </div>
                </div>
               <div class="item col-md-4">
                  <div class="blok-read-sm">
                      <a href="#" class="hover-image">
                         <img src="images/babyshowerrr.jpg" alt="image">
                         <span class="layer-block">Baby Shower</span>
                      </a>
                       
                   </div>
               </div>
      
       <div class="item col-md-4">
          <div class="blok-read-sm">
            <a href="#" class="hover-image">
               <img src="images/mehndiiii.jpg" alt="image">
               <span class="layer-block">Mehendi/Dholki</span>
            </a>
           
           </div>
         </div>
           <div class="item col-md-4">
              <div class="blok-read-sm">
                <a href="#" class="hover-image">
                   <img src="images/wedding.jpg" alt="image">
                   <span class="layer-block">Wedding</span>
                </a>
                
                   </div>
                </div>
               <div class="item col-md-4">
                  <div class="blok-read-sm">
                      <a href="#" class="hover-image">
                         <img src="images/Valima.jpg" alt="image">
                         <span class="layer-block">Valima</span>
                      </a>
                       
                   </div>
               </div>
       
       <div class="item col-md-4">
          <div class="blok-read-sm">
            <a href="#" class="hover-image">
               <img src="images/copate.jpg" alt="image">
               <span class="layer-block">Corporate Events</span>
            </a>
            
           </div>
         </div>
           <div class="item col-md-4">
              <div class="blok-read-sm">
                <a href="#" class="hover-image">
                   <img src="images/paty.jpg" alt="image">
                   <span class="layer-block">Company Parties</span>
                </a>
                
                   </div>
                </div>
               <div class="item col-md-4">
                  <div class="blok-read-sm">
                      <a href="#" class="hover-image">
                         <img src="images/picnic.jpg" alt="image">
                         <span class="layer-block">Organization Picnics</span>
                      </a>                         
                   </div>
               </div>
      
      </div>
    </div>


    </div>