<div class="allcontain body-contain">
  <hr>
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <h2 align="center"><b>Upload Image</b></h2>          
      </div>
  </div>
  
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">      
          <div class="main-login main-center">       
            <form  class="form-horizontal"  enctype="multipart/form-data" name="sendFile" action="/api/uploadPortfolio">  
              <div class="form-group">                
                <div class="cols-sm-10">
                  
                  <input type="file" name="profileImage" id="profileImage">
                 
                </div>
              </div>
             <div class="form-group ">
              <button type="submit" class="btn btn-primary btn-lg login-button upd">Upload</button>
              </div>
            </form>
          </div>          
        </div>
      </div>
  </div>